/* HOMEPAGE CSS */
.f-handstyle {
    font-family: "Bradley Hand ITC";
    font-size: 20px;
    font-weight: bold;
}

.f-handstyle h2{
    font-family: "Bradley Hand ITC";
    text-align: center;
    font-weight: bold;
    color: black;
}

.f-compstyle{
    font-family: "Calibri Light";
    font-size: 20px;
}

.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(249, 103, 133, 0.84);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #dceff7;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.dropdown-menu a:hover {
    color: #000000;
}

.dropdown-menu {
    background-color: rgba(249, 103, 133, 0.84);
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

/* LOGIN FORM */
.contentbg {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(220, 239, 247);
}

.contactimg{
    max-width: 100%;
}

.indeximg{
    width: 150%;
}
.f-maintitle{
    font-size: 60px;
}
.f-contacts h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}

.f-contacts{
    padding: 26px 30px;
    text-align: center;
}

.f-contacts p{
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    margin-top: 0;
}